*.pyc
__pycache__/
# Virtual environments
venv/
.venv/
env/
# Environmental variables / Secrets
.env
#database files
*.db

.pytest_cache/
vectorstore/*
!vectorstore/.gitkeep
uploads/*
!uploads/.gitkeep
cache/*
!cache/.gitkeep